
body{
    background-image: url(backgroundbody.png);
    background-size: auto;
    background-attachment: fixed;
    background-position: top;
}

#alertcircle{
    text-align: center;
    margin-top: 15px;
}



.sousjumbo {
    font-family: 'Tangerine', cursive;
    font-size: 50px;
    
}

#accueilborder{
    border-bottom: 1px solid darkred;
    color:darkred;
}
#test {
    width: 100%;
    border: 1px solid red;
}


#logo{
    width:20vw; 
}

.logo{
    text-align: center;
    margin:6%;
}

#alertcircleintern{
    margin-top: 14%;
    
}

.yellow{
    margin-top: 70px;
    
}

#interest{
    box-shadow: 9px 4px 11px #a9a598;
    
}

#decal{
    margin-top:30px;
    margin-bottom: 30px;
}

.rightcircle{
    margin-top: 6%;
}

p{
    font-weight:300;
    line-height: 30px;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 1px;
}

.bigtitle{
    
  animation-duration: 4s;
  animation-name: slidein;

}

#bigtitle{
    background-image: url(backgroundjumbotron.png);
    background-position: center;
}



@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

footer{
    margin-top: 20px;
    font-size: 14px;
    text-align: center;

}

#bunny{
    float: right;
}

#bottomright{
   background-color: aliceblue;
}

@media screen and (max-width: 520px) {
    p:not(.sousjumbo){
        font-size: 15px;
        line-height: 15px;
    }

